.container {
    /* max-width: 1200px; */
    /* padding: 20px 60px 60px; */
  }

  .header{
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .nav {
    align-items: center;
    display: flex;
  }
  .nav-list {
    gap: 60px;
    margin-left: 222px;
    /* margin-right: 124px; */
    display: flex;
  }
  .nav-btn {
    cursor: pointer;
    border: 1px solid azure;
    padding: 16px 31px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    margin-left: auto;
  }
  .hero-section {
    padding-top: 209px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 255px;
    display: flex;

  }
  .hero-text-container {
    align-items: center;
    gap: 8px;
    font-size: 16px;
    display: flex;
  }
  .hero-head {
    width: 656px;
    margin-top: 16px;
    font-size: 72px;
    font-weight: 400;
  }
  .hero-overview {
    width: 615px;
    margin-top: 43px;
    font-size: 18px;
    font-weight: 400;
  }
  .hero-blok-btn {
    align-items: center;
    gap: 40px;
    margin-top: 53px;
    display: flex;
  }
  .hero-btn-explore {
    color: #fff;
    cursor: pointer;
    background-color: #57b8ff;
    padding: 21px 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
  }

  /* _____________________________________ */


  .sponsors {
    background-color:rgba(253, 208, 74, 1);
    width: 100vw; 
    margin: auto;
  }
  .sponsors div {
    padding: 130px 60px;
  }

  .sponsor-head-block{
    width: 596px;
    margin: auto; 
    text-align: center;
  }

  .sponsor-head-block h2 {
    font-size: 48px;
    font-weight: 400;
    color:  rgba(34, 39, 48, 1);
    margin-bottom: 44px;
  }

  .sponsor-head-block p {
font-size: 16px;
color: rgba(85, 85, 85, 1);

  }
  